# 1. 忽略数据集
dataset/

# 2. 忽略基底模型
Model/bert-base-uncased/*
Model/bitsandbytes/*
Model/Flash-Attention/*
Model/Glove/*
Model/LoRA_Origin/*
Model/Qwen3-VL-2B/*

# 3. 忽略环境和缓存
.vscode/

# 4. 忽略微调过程中的模型缓存
saves/
